.git
.gitignore
.dockerignore
Dockerfile
backend/__pycache__/
backend/generated_media/
backend/myenv1/
backend/myenv_opinion/
backend/venv/
frontend/build/
frontend/node_modules/
node_modules/
venv/
*.py[cod]
*.pyo
.env
.DS_Store
Thumbs.db
