html, body, #root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: var(--theme-font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--theme-bg);
  color: var(--theme-navy);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
}
